
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Add a new Engineer</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ENAme)
  @Html.TextBoxFor(model => model.EName)

	@Html.LabelFor(model => model.EExperience)
	@Html.TextBoxFor(model => model.EExperience)

	
  <input type="submit" value="Add new Engineer" />
}
<p>@Html.ActionLink("Show engineers", "Index")</p>