@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Edit</h2>

<h4>Edit this machine: @Html.DisplayFor(model => model.MName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MId)

    @Html.LabelFor(model => model.MName)
    @Html.EditorFor(model => model.MName)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>